<template name="sideNav">
	<aside class="side-nav" role="navigation">
		<header class="header">
			{{> userStatus}}
			<div class="doticon">
			</div>
		</header>
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					{{> starredRooms }}
					{{> channels }}
					{{> directMessages }}
					{{> privateGroups }}
					<h3>
						<a href="{{pathFor 'privateHistory'}}">{{_ "History"}}</a>
					</h3>
					{{#if isAdmin}}
					<h3 class="open-settings">
						{{_ "App_Settings"}}
					</h3>
					{{/if}}
				</div>
			</div>
			<div class="flex-nav hidden">
				<section>
					{{> UI.dynamic template=flexTemplate data=flexData}}
				</section>
			</div>
		{{/if}}
	</aside>
</template>
